- name: Install python on host without python
  gather_facts: false 
  hosts: all


  tasks:
    - name: Run script
      ansible.builtin.raw: 'declare -A osInfo; osInfo[/etc/debian_version]="apt"; osInfo[/etc/alpine-release]="apk"; osInfo[/etc/centos-release]="yum"; osInfo[/etc/fedora-release]="dnf"; for f in ${!osInfo[@]}; do if [[ -f $f ]]; then package_manager=${osInfo[$f]}; fi;  done; $package_manager -y install python3"'
      args:
        executable: /bin/bash
